*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}
body{
    background: black;
    color: white;
    font-family: poppins;
}
.section1{
    height: 100vh;
}
#main-content{
    margin: 10px 5px 5px 220px;
    margin-top: 10px;
}