* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
  border: none;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-padding-top: 40px;
}
button{
  font-weight: 500;
}
body {
  color: white;
  font-family: poppins;
  overflow-x: hidden;
  scroll-padding-top: 45px;
  background: black;
    /* ----------------------------------bg------------------- */

  /* background: linear-gradient(220.3deg, rgb(95, 5, 5) 10.6%, rgb(123, 2, 2) 97.7%); */
}


.section1 {
  height: 70vh;
}
#main-content {
  margin: 0px 5px 5px 220px;
}

.gradient-header{
  display: none;
}
.gradient-text{
  background: linear-gradient(45deg,#f13c0f, #f2ff00);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

/* --------------------------------section2------------------ */
.section2 h2{
    margin-left: 5px;
}
.section2 {
  margin-top: 20px;
}
.section2 h1{
  text-align: center;
  background: linear-gradient(45deg,#f13c0f, #f2ff00);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* --------------------swiper2--------------- */

.section2 .mySwiper2 .show-div {
  height: 150px;
  width: 230px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.section2 .mySwiper2 .show-div .show-details {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(15, 0, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.section2 .mySwiper2 .swiper-wrapper .show-div .show-details:hover {
  opacity: 1;
}
.section2 .mySwiper2 .swiper-wrapper .show-div .show-details img {
  width: 20px;
}
.section2 .mySwiper2 .swiper-wrapper .show-div .show-details h3 {
  margin-bottom: 5px;
}
.section2 .mySwiper2 .swiper-wrapper .show-div .show-details button {
  font-family: poppins;
  padding: 5px 10px;
  border-radius: 10px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.section2 .mySwiper2 .swiper-wrapper .show-div .show-details button:hover {
  background: rgba(255, 255, 255, 0.354);
}
.section2 .mySwiper2 .swiper-wrapper .show-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* -------------------------swiper3-------------- */

  .section2 .mySwiper3 .show-div {
    height: 150px;
    width: 230px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
  .section2 .mySwiper3 .show-div .show-details {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(15, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  .section2 .mySwiper3 .swiper-wrapper .show-div .show-details:hover {
    opacity: 1;
  }
  .section2 .mySwiper3 .swiper-wrapper .show-div .show-details img {
    width: 20px;
  }
  .section2 .mySwiper3 .swiper-wrapper .show-div .show-details h3 {
    margin-bottom: 5px;
  }
  .section2 .mySwiper3 .swiper-wrapper .show-div .show-details button {
    font-family: poppins;
    padding: 5px 10px;
    border-radius: 10px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .section2 .mySwiper3 .swiper-wrapper .show-div .show-details button:hover {
    background: rgba(255, 255, 255, 0.354);
  }
  .section2 .mySwiper3 .swiper-wrapper .show-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* -------------------------Swiper4-------------- */

.section2 .mySwiper4 .show-div {
  height: 300px;
  width: 230px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.section2 .mySwiper4 .show-div .show-details {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(15, 0, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.section2 .mySwiper4 .swiper-wrapper .show-div .show-details:hover {
  opacity: 1;
}
.section2 .mySwiper4 .swiper-wrapper .show-div .show-details img {
  width: 20px;
}
.section2 .mySwiper4 .swiper-wrapper .show-div .show-details h3 {
  margin-bottom: 5px;
}
.section2 .mySwiper4 .swiper-wrapper .show-div .show-details p{
  margin-top: 0;
}
.section2 .mySwiper4 .swiper-wrapper .show-div .show-details button {
  font-family: poppins;
  padding: 5px 10px;
  border-radius: 10px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 10px;
}
.section2 .mySwiper4 .swiper-wrapper .show-div .show-details .buy-btn{
background: black;
color: white;
}
.section2 .mySwiper4 .swiper-wrapper .show-div .show-details button:hover {
  background: rgba(255, 255, 255, 0.381);
}
.section2 .mySwiper4 .swiper-wrapper .show-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* -----------------ABOUT US-------------------------------- */
.about-us{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-family: noto sans;
  
}
.about-us .grid-2{
  background-image: url(../images/abtusbg.jpg);
  background-position: center;
  max-width: 1200px;
display: grid;
grid-template-columns: 1fr 1fr;
position: relative;
z-index: -2;
border-radius: 15px;
overflow: hidden;

}
.about-us .grid-2::after{
content: '';
position: absolute;
top: 0;
right: 0;
left: 0;
bottom: 0;
background: #0000006b;
z-index: -1;

}

.about-us .grid-2 .left,
.about-us .grid-2 .right{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:  20px 40px;
}
.about-us .grid-2 .right h1{
  font-family: "Protest Revolution", sans-serif;
  font-size: 40px;
  margin-bottom: 20px;
}
.about-us .grid-2 .right p{
  text-align: center;
  font-size: 16px;
  line-height: 110%;
  word-spacing: 2px;
}
.about-us .grid-2 .left img{
  width: 100%;
}
@media (max-width:800px){
  .about-us .grid-2 .left,
.about-us .grid-2 .right{
  padding:  10px 10px;

}

  .about-us .grid-2 .right p{
    text-align: center;
    font-size: 14px;
    word-spacing: 2px;
  }
  .about-us .grid-2 .right h1{
    font-size: 35px;
    margin-bottom: 10px;
  }
}
@media (max-width:600px){
  .about-us .grid-2{
    grid-template-columns: 1fr;
    min-height: 350px;

  }
  .about-us .grid-2 .left{
    display: none;
  }
  .about-us .grid-2 .right{
    padding:  5px 10px;
    
  }
  .about-us .grid-2 .right p{
    font-size: 17px;

  }
}
/* --------------------------footer------------------- */

.footer{
  margin-top: 20px;
  min-height: 300px;
  background-image: url(../images/abtusbg2.jpg.png);
  position: relative;
  z-index: -2;
}
.footer::after{
  content: '';
position: absolute;
top: 0;
right: 0;
left: 0;
bottom: 0;
background: #0000006b;
z-index: -1;

}
