@media (max-width: 500px) {
  .gradient-header {
    margin-top: 10px;
    display: block;
    text-align: center;
    font-size: 30px;
    background: linear-gradient(45deg,#f13c0f, #f2ff00);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Protest Riot", sans-serif;
    
  }

  .section1 {
    display: none;
  }
  .section2 h2 {
    font-size: 20px;
    text-align: center;
    margin-left: 0;
  }
  .laptop-min {
    display: none;
  }
  #main-content {
    margin: 0;
    margin-top: 60px;
  }
  .mobile-nav {
    position: fixed;
    top: 5px;
    left: 5px;
    right: 5px;
    height: 50px;
    background: white;
    border-radius: 10px;
    background: #000;
    box-shadow: rgba(253, 253, 253, 0.356) 2px 10px 27px -5px,
      rgba(198, 193, 193, 0.838) 0px -8px 16px -8px,
      rgba(198, 193, 193, 0.838) 2px 0px 0px -2px,
      rgba(198, 193, 193, 0.838) -2px 0px 0px -2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 10px;
  }
  .mobile-nav img {
    height: 35px;
    width: 35px;
  }

  .laptop-max {
    display: flex;
    position: fixed;
    right: 5px;
    left: auto;
    width: 200px;
    top: 50px;
    box-shadow: rgba(253, 253, 253, 0.356) 2px 10px 27px -5px,
      rgba(198, 193, 193, 0.838) 0px -8px 0px -8px;
    border-radius: 0 10px 10px 0;
    transform: translateX(120%);
    background: rgba(0, 0, 0, 0.338);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all 0.5s ease;
  }
  .laptop-max .nav-top {
    display: none;
  }
  .laptop-max .nav-mid {
    margin-top: 20px;
  }
  .menu-toggle,
  .mobile-nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
