/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: linear-gradient(-60deg, #fbfbfb 0%, #0f0f0f 100%);
    transition: all 0.2s ease;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(-60deg, #da5858 0%, #fcb655 100%);
  }