.swiper-pagination-bullet-active{
  background: white;
}
.mySwiper1 {
  width: 100%;
  height: 100%;
}

.mySwiper1 .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.mySwiper1 .swiper-slide .mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.598),
    rgba(0, 0, 0, 0.034)
  );
}

.mySwiper1 .swiper-wrapper .swiper-slide .carosel-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.show-details {
  position: absolute;
  left: 30px;
  max-width: 500px;
  text-align: left;
}
.show-details .btn {
  font-family: poppins;
  padding: 5px 10px;
  border-radius: 10px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.show-details img {
  width: 25px;
  margin-right: 5px;
}
.show-details p {
  font-size: 16px;
  line-height: 110%;
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.show-details h1 {
  line-height: 110%;
}
.show-details .black-btn {
  background: black;
  color: white;
}
.show-details .black-btn:hover {
  background: #00000076;
}
.show-details .white-btn:hover {
  background: rgba(255, 255, 255, 0.568);
}
.show-details .btn-div {
  display: flex;
  gap: 8px;
  margin-top: 20px;
}
/* ------------swiper2--------- */
.mySwiper2 {
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.mySwiper2 .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -----------------swiper3---------------- */
.mySwiper3 {
  width: 100%;
  height: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mySwiper3 .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -----------------swiper4---------------- */
.mySwiper4 {
  width: 100%;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mySwiper4 .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

