* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
    border: none;
  }
body{
    background: #000;
}
svg path {
    fill: rgba(255, 0, 0, 0);
    stroke-width: 0.75px;
    cursor: pointer;
}

svg {
    width: 500px;
    max-height: 99vh;
}
@media (max-width:550px) {
    svg{
        max-width: 100vw;
    height: auto;
    }
    
}

svg path:hover {
    fill: #e8860dec;
    /* mix-blend-mode: color-burn; */
    transition: fill 0.4s ease-in-out;
}
svg path:active{
    fill: rgb(17, 0, 255);
}

.districtName{
    position:fixed;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
    color: yellow;
    font-size: 35px;
    text-align: center;

}
