body{
    background: #000;
}
svg path {
    fill: rgba(255, 0, 0, 0);
    stroke-width: 0.75px;
}

svg {
    width: 500px;
}

svg path:hover {
    fill: #e8860dec;
    /* mix-blend-mode: color-burn; */
    transition: fill 0.4s ease-in-out;
}
svg path:active{
    fill: rgb(255, 183, 0);
}

a[xlink][title]:hover::after {
    content: attr(title);
    position: absolute;
    background-color: rgb(255, 136, 0);
    padding: 2px 50px !important;
}