body{
    background: #000;
}
svg path {
    fill: rgba(255, 0, 0, 0);
    stroke-width: 0.75px;
}

svg {
    width: 500px;
    max-height: 99vh;
}

svg path:hover {
    fill: #e8860dec;
    /* mix-blend-mode: color-burn; */
    transition: fill 0.4s ease-in-out;
}
svg path:active{
    fill: rgb(17, 0, 255);
}

[data-district] path:hover{
cursor: pointer;
background: blue;
fill: blue;
}